{% extends "layout.html" %}
{% block content %}
<app id="admin">
    <div class="admin-container">
        <div class="form-admin">
            <h1>Ajouter un mot</h1>
            <form action="/administration/ajouter" method="post">
                <div>
                    <label for="fr">FR</label>
                    <input type="text" name="fr" id="fr" required>
                </div>
                <div>
                    <label for="normand">Normand</label>
                    <input type="text" name="normand" id="normand" required>
                </div>
                <div>
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
        
        <div class="form-admin">
            <h1>Modifier un mot</h1>
            <form action="/administration/modifier" method="post">
                <div>
                    <label for="id">ID:</label>
                    <input type="text" name="id" id="id" required>
                </div>
                <div>
                    <label for="fr">Français:</label>
                    <input type="text" name="fr" id="fr" required>
                </div>
                <div>
                    <label for="normand">Normand:</label>
                    <input type="text" name="normand" id="normand" required>
                </div>
                <div>
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
    
        <div class="form-admin">
            <h1>Supprimer un mot</h1>
            <form action="/administration/supprimer" method="post">
            <div>
                <label for="id">ID:</label>
                <input type="text" name="id" id="id" required>
            </div>
            <div>
                <input type="submit" value="submit">
            </div>
            </form>
        </div>
        
        <div class="form-admin">
            <h1>Chercher un mot</h1>
            <form action="/administration/mot" method="post">
                <div>
                    <label for="mot">Mot à rechercher:</label>
                    <input type="text" name="mot" id="mot" required>
                </div>
                <div>
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="result">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
    
    <hr></hr>
    <div class="tableau-admin">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Français</th>
                    <th>Normand</th>
                </tr>
            </thead>
        {% autoescape false %}
        {{table}}
        {% endautoescape %}
        </table>
    </div>
</app>
    
{% endblock %}