{% extends "layout.html" %}
{% block content %}
    <h1>Ajouter un mot</h1>
    <form action="/administration/ajouter" method="post">
        <label for="fr">FR</label>
        <input type="text" name="fr" id="fr">
        <label for="normand">Normand</label>
        <input type="text" name="normand" id="normand">
        <input type="submit" value="submit">
    </form>

    <h1>Modifier un mot</h1>
    <form action="/administration/modifier" method="post">
        <label for="id">ID:</label>
        <input type="text" name="id" id="id">
        <label for="fr">Français:</label>
        <input type="text" name="fr" id="fr">
        <label for="normand">Normand:</label>
        <input type="text" name="normand" id="normand">
        <input type="submit" value="submit">
    </form>

    <h1>Supprimer un mot</h1>
    <form action="/administration/supprimer" method="post">
        <label for="id">ID:</label>
        <input type="text" name="id" id="id">
        <input type="submit" value="submit">
    </form>

    <h1>Chercher un mot</h1>
    <form action="/administration/mot" method="post">
        <label for="mot">Mot à rechercher:</label>
        <input type="text" name="mot" id="mot">
        <label for="lang">Language</label>
        <select name="lang" id="lang">
            <option value="fr">Français</option>
            <option value="normand">Normand</option>
        </select>
        <input type="submit" value="submit">
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="result">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    {% endwith %}

    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Français</th>
                    <th>Normand</th>
                </tr>
            </thead>
        {% autoescape false %}
        {{table}}
        {% endautoescape %}
        </table>
    </div>
{% endblock %}