{% extends "layout.html" %}
{% block content %}
<app id="connexion">
    <form action="/connexion/" method="post">
        <div>
            <label for="email">Nom d'utilisateur</label>
            <input type="text" name="email" required>
        </div>
        <div>
            <label for="mdp">Entre votre mot de passe</label>
            <input type="password" name="mdp"required>
        </div>
        <div>
            <button type="submit">Connexion</button>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="result">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <hr></hr>

</app>
{% endblock %}